# Ignore .dfx and .mops directories in hopechain-engine
hopechain-engine/.dfx/
hopechain-engine/.mops/

.dfx/
.mops/
.github/

# Dependency directories
node_modules/

# Build directories
/build
/dist

# Environment variables
/.env

# Editor/IDE specific files
*.log
.DS_Store
